/* ==|====================
   Components/ajax loading
   ======================= */
.ajax-loading {
  background: url(../images/overlay.png) repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  i.fa {
    position: absolute;
    top: 40%;
    left: 47%;
    font-size: 50px;
  }
}
