/* ==|====================
   Components/Images
   ======================= */

/**
 * To preserve ratio and center img in responsive
 * we use a spacer.gif type img with desired ratio.
 * The attended img is set in background
 */
.img-ratio-maintener {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-height: 100%;
    background-size: cover;
}

.img-cover {
     object-fit: cover;
}