/* ==|====================
   Components/List Items
   ======================= */

/** Spaces row with border */

.list
{
    @extend .col-sm-12;
    @extend .col-md-10;
    @extend .col-md-offset-1;


    .list-container
    {
        @include margin-vertical( 10px, 10px);
        border: 1px solid lighten($gray-light, 40%);
        background-color: white;
        transition: all .4s;
        &:hover {
            border-color: transparent;
            transition-delay: 0s;
        }
        a.row
        {
            display: block;
            &,&:hover
            {
                color: inherit;
            }

            svg
            {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                line
                {
                    stroke-width: 1;
                    stroke: #EAC66C;
                    fill: none;
                    transition: all .4s;
                }
            }

            &:hover
            {
                svg line
                {
                    stroke-width: 3;
                    transition-delay: 0s;

                    &.top {
                        transform: translateX(-100%);
                    }
                    &.bottom {
                        transform: translateX(100%);
                    }
                    &.left {
                        transform: translateY(-100%);
                    }
                    &.right {
                        transform: translateY(100%);
                    }
                }
            }
        }

        .list-row
        {
            @extend .no-gutter;
        }

        .list-col
        {
        }

        .list-thumbnail
        {
            @extend .thumbnail;
            margin-bottom: 0;
            padding:0;
            border:0 none;
            max-height: 280px;
            overflow: hidden;
        }
        .list-content
        {
            @include margin-horizontal( 2vw, 2vw);
        }

        .caption
        {
            .h2 {
                font-weight: 600;
            }

            .content
            {
                strong
                {
                    font-size: $font-size-large;
                }
            }
        }
    }
}
