a {
    transition: color 0.2s ease;
}

// Main Logo

.brand-image {
    @include size(100%, 100%);
    @include padding-vertical(35%, 35%);
    height: $sticky_size - 70px;
    display: inline-block;
    background: transparent url($logo) no-repeat scroll 50% 50%;
    background-size: contain;
    span { display: none; }
}
