/* ==|====================
   Common/Mixin
   ======================= */

@mixin set-font( $font ){
    font-family: $font, sans-serif;
}

@mixin bebas {
    @include set-font('Bebas Neue');
    letter-spacing: 2px;
}

@mixin padding-vertical($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin padding-horizontal($left, $right){
    padding-left: $left;
    padding-right: $right;
}

@mixin margin-vertical($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margin-horizontal($left, $right){
    margin-left: $left;
    margin-right: $right;
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    transition: all $time ease;
}

@mixin input_style{
    background-color: $gray-lighter;
    border: 1px solid #dddddd;
    border-radius: 0;
    min-height: 50px;
}

@mixin break-word() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}