h1,.h1
h2,.h2 {
    text-transform: uppercase;
}

h1,.h1
h2,.h2,
h3,.h3 {
    letter-spacing: 2px;
}

h1,.h1 {
    font-size: 60px;
    font-weight: 700;
}
h2,.h2 {
    font-size: 30px;
    font-weight: 300;

    &.strong {
        font-weight: 700;
    }
}

h3, .h3 {

}

h1, .h1, h2, .h2, h3, .h3
{
    @include break-word();
}

b, strong {
    font-weight: 600;
}