/* ==|====================
   Layout/Layouts
   ======================= */

// Layout for sticky footer
// Add the .sticky-footer class to <html>

.sticky-footer{
    position: relative;
    min-height: 100%;

    body {
        margin-bottom: $sticky_size;
        @media (max-width: $screen-xs-max) {
            margin-bottom: $sticky_size-mobile;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $sticky_size;
        @media (max-width: $screen-xs-max) {
            height: $sticky_size-mobile;
        }
    }
}

body {
    @media (max-width: $screen-xs-max) {
        padding-top: $navbar-height-header + 10;
    }
}

.layout-2-cols {
    @extend .container;

    .content-main{
        @extend .col-lg-8;
        @extend .col-md-7;
    }

    .content-sidebar{
        @extend .col-lg-4;
        @extend .col-md-5;
    }
}

.p-v-xs {
    @include padding-vertical(10px, 10px);
}